* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content h2 {
    margin-bottom: 25px;
    font-size: 20px;
}

.content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
}

.entrada {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.entrada label {
    font-size: 18;
}

.entrada input {
    border: none;
    border-radius: 6px;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.escolha {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.escolha button {
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.escolha button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}